*{
    font-family: 'Noto Serif KR', sans-serif;
}
h1{
    border: 1px solid purple;
    text-align: center;
}
a {
    color: #0060B6;
    text-decoration: none;
    float: inherit;
}
a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
button{
   vertical-align: middle;
}
.row{
    display: flex;
}
.column1{
    border: 4px dashed purple;
    flex:33%;
    margin: 10px 10px;
    padding-bottom: 30px;
}
.column1 *{
    margin: 10px 10px 10px 10px;
}
.column2{
    border: 4px dashed purple;
    flex:66%;
    margin: 10px 10px;
}
.column2 *{
    margin: 10px 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: magenta;
}
.logo{
    width: 70px;
    height: auto;
}

.Preferences{
    padding: 5px 5px;
    border: 1px solid black;
    display: inline;
} 
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.headshot{
    width: 50px;
    height: auto;
    vertical-align: middle;
}
.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}