*{
    font-family: Helvetica, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

h1{
    border: 1px solid purple;
    text-align: center;
}
h2{
    color:#696969;
}
h3{
    color:#696969;
}
h3:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}
a {
    color:slategrey;
    text-decoration: none;
    float: inherit;
}
a:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}
button{
   vertical-align: middle;
}

@media screen and (min-width: 950px){
    .row{
        display: flex;
        padding-top: 50px;
    }
    .column1{
        border: 4px solid purple;
        flex:33%;
        margin: 10px 10px;
        padding-bottom: 30px;
        margin-bottom: 2.5%;
    }
    .column2{
        border: 4px solid purple;
        flex:66%;
        margin: 10px 10px;
        margin-bottom: 2.5%;
    }
    .mobile-username-group{
        display:none;
    }

    .bottom-navbar{
        display:none;
    }

    .tablet-navbar {
        display: none;
    }
}

@media screen and (max-width:949px){
    .row{
        padding-top: 50px;
    }
    .column1{
        border: 4px solid purple;
        margin: 10px 10px;
        padding-bottom: 30px;
    }
    .column2{
        margin: 10px 10px;
        border: 4px solid purple;
    }

    .mobile-username-group{
        display:none;
    }
    .bottom-navbar{
        display:none;
    }
    .tablet-navbar {
        display: none;
    }
}

@media screen and (max-width:768px){
    .row{
        padding-top: 10px;
    }
    .column1{
        border: 4px solid purple;
        margin: 10px 10px;
        padding-bottom: 30px;
    }
    .column2{
        margin: 10px 10px;
        border: 4px solid purple;
    }

    .mobile-username-group{
        display:none;
    }
    .bottom-navbar{
        display:none;
    }
    .header-navbar ul{
        display: none;
    }
    .tablet-navbar {
        display: block;
    }
}

@media screen and (max-width:600px){
    .row{
        padding-top: 50px;
    }
    .column1{
        display: none;
    }
    .column2{
        margin: 10px 10px;
        border: 4px solid purple;
        margin-bottom: 50px;

    }
    .mobile-username-group{
        display:block;
        margin: 10px 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    input{
        display: block;
        width: 91.66% !important;
    }
    
    .opinion-desc{
        display: none;
    }

    

    .footer{
        display:none;
    }
    .bottom-navbar{
        display:block;
    }
    .header-navbar ul{
        display: none;
    }
    .tablet-navbar {
        display: none;
    }
}

.column1 *{
    margin: 10px 10px 10px 10px;
}
.column2 *{
    margin: 10px 10px;
}

.opinion{
    border: 3px solid lightgray;
    background-color: white;
}

.opinon-content{
    background-color: white;
    list-style-type: none;
    vertical-align: middle;
    overflow: hidden;
}

.opinion-logo{
    height: auto;
}

.header-navbar{
    position: fixed;
    top: 0;
    background-color: purple;
}

.header-navbar img {
    display: inline-block;
    vertical-align: middle;    
}
.header-navbar h2{
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;    
}

.navbar-links {
    color: white;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;    
}

.tablet-navbar-links {
    background: purple;
    margin-bottom: 0;
    margin-top: 60px;
    color: white;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;    
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    opacity: 0.3;
}

.logo{
    width: 70px;
    height: auto;
}

.Preferences{
    padding: 1px 1px;
    border: 1px solid black;
    display: inline-block;
} 
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}
.headshot{
    width: 50px;
    height: auto;
    border-radius: 5%;
    vertical-align: middle;
}

.bottom-navbar{
    background-color: purple;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 7%;
}

.bottom-navbar a {
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    left: 50%;
}
.bottom-navbar a img{
    width: 30px;
    margin-top: 10px;
}

.navbar-icon{
    width:35px;
}

input{
    height: 30px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.circle{
    border: 2px solid teal;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
}
button:hover{
    background-color: teal;
    color: white;
}
button:focus{
    outline: 0;
}
.hidden{
    display: none
}
.titleHead{
    text-align: center;
    margin-top: 8%;
    border: none;
    font-size: 40pt;
    color: purple;
}
#entrance{
    text-align: center;
}
.signInButton{
    width: 70px;
    height: 40px;
    display: inline-block;
    margin: 20px 20px 20px 20px;
    background-color: purple;
    color: white;
}

/* The Modal (background) */
.opinion-popup {
    display: none;  
    position: fixed;    
    z-index: 1;     
    padding-top: 100px;     
    left: 0;
    top: 0;
    width: 100%;    
    height: 100%;   
    overflow: auto;     
    background-color: rgba(0,0,0,0.4);  
}

/* Modal Content */
.opinion-popup-content {
    background-color:white;
    margin: auto;
    padding: 20px;
    border: 1px solid purple;
    width: 80%;
    list-style-type: none;
    vertical-align: middle;
    overflow: hidden;
}